# VirtualEnv
.venv

# Bins/Imgs
*.bin
*.tif
*.tiff
*.jpg
*.jpeg
*.png
outimages/*

# Maps
maps/*
!maps/*.py

# C Stuff
*.o
*.so
*.out

# Python
__pycache__

# Blender
*.blend
*.blend1

# Random
.nfs*
core*

# Logs
*.log

# VSCode
.vscode

# Configs
configs/*/*

# Basic Blender config
!**/blender.json

# Basic Cameras
!**/testcam.json
!**/hasselblad.json
!**/smallcam.json

# Basic Trajectories
!**/earth_rise.csv
!**/tsiolkovsky.csv

# Basic Random Poses (W.I.P.)


# Spice Files
spicedata/*
!spicedata/boromir.tm

# Trash/scratch/temp
#scratch/*
trash/*
tmp/*

# Docs/Gallery
!docs/**

# Keep dirs
!.exists