# VirtualEnv
.venv

# Bins/Imgs
*.bin
*.tif
*.tiff
*.jpg
*.jpeg
*.png
outimages/

# C Stuff
*.o
*.so
*.out


# Python
__pycache__

# Blender
*.blend
*.blend1

# Random
.nfs*
core*

# Logs
*log*

# VSCode
.vscode

